<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FitConnect Pro</title>
   
    <link rel="stylesheet" href="/css/style.css" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          FitConnect Pro
          <p>Connecting Fitness, Unleashing Progress</p>
        </h1>
      </header>

    </div>

    <div class="buttons">
      <button class="btn-hover color-8">Login</button>
      
      <button class="btn-hover color-8">Sign Up </button>
    </div>
    
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  
  </body>
</html>
