<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>FitConnect Pro</title>

    <link rel='stylesheet' href='/css/style.css' />
    <!--Import materialize.css-->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>

  <body>
    {{#if logged_in}}
      <header>
        <nav>
          <a href='/profile'>profile</a>
          <a href='#'>logout</a>
        </nav>
      </header>
    {{/if}}
    {{{body}}}
    {{! <script type="text/javascript" src="js/materialize.min.js"></script> }}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>

  </body>
</html>