<script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        timeZone: 'local',
        initialDate: dayjs().format('YYYY-MM-DD'),
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        select: function (arg) {
          var title = prompt('Event Title:');
          if (title) {
            calendar.addEvent({
              title: title,
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
            })
          }
          calendar.unselect()
        },
        eventClick: function (arg) {
          if (confirm('Are you sure you want to delete this event?')) {
            arg.event.remove()
          }
        },
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: [
        {{#if activities.length}}
         {{#each activities as |activity|}}

         {
            title: '{{activity.name}}',
            start: '{{activity.date_start}}'
          },
         {{/each}}
        {{/if}}

        ]
      });

      calendar.render();
    });

  </script>
   
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>
    {{!-- <div class="sections-container">
        <div class="section" id="community-section">
            <!-- Content for the community section -->
        </div>
        <div class="section" id="activity-section">
            <!-- Content for the activity section -->
        </div>
    </div> --}}

    <!-- Modal Structure -->
{{!--     <div id="activity-modal" class="modal">
        <div class="modal-content">
            <h4>Add Activity</h4>
            <form id="activity-form">
                <!-- Input fields for activity details -->
                <div class="input-field">
                    <input type="text" id="activity-name" name="activity-name">
                    <label for="activity-name">Activity Name</label>
                </div>
                <!-- Add more input fields as needed -->
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn">Cancel</a>
            <a href="#!" class="waves-effect waves-green btn" id="save-activity">Save</a>
        </div>
    </div>
 --}}
    <!-- Modal Structure for Customizing/Deleting Event -->
{{!-- <div id="custom-event-modal" class="modal">
    <div class="modal-content">
        <h4>Edit Event</h4>
        <form id="custom-event-form">
            <!-- Input field for event title -->
            <div class="input-field">
                <input type="text" id="event-title" name="event-title">
                <label for="event-title">Event Title</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn" id="delete-event-button">Delete</a>
        <a href="#!" class="waves-effect waves-green btn" id="edit-event-button">Edit</a>
    </div>
</div> --}}