<script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'today'
        },
        timeZone: 'local',
        initialDate: dayjs().format('YYYY-MM-DD'),
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        select: function (arg) {
          var title = prompt('Event Title:Boo');
          if (title) {
            let startdate=dayjs(arg.start).format("YYYY-MM-DD")+"T10:00:00.000Z"
            eventCreateHandler(title,startdate,startdate)
            calendar.addEvent({
              title: title,
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
            })
          }
          calendar.unselect()
        },
        eventClick: function (arg) {
          $(".update-modal-close").text("Cancel");
          $("#update-modal").modal();
          $('update-msg').text(`Update or Delete Activity: ${arg.event.title}`);
          $("#update-modal").modal("open");
          $(".update-modal-delete").click(function (event) {
            arg.event.remove()
            $("#update-modal").modal("close");
            eventDeleteHandler(arg.event.extendedProps.activity);
          });          
          $(".update-modal-close").click(function (event) {
            $("#update-modal").modal("close");
          });
        },
        eventDrop: function(info) {
          $(".move-modal-close").text("Cancel");
          $("#move-modal").modal();
          $('.move-msg').text(`Move Activity: ${info.event.title} to ${dayjs(info.event.start).format("DD-MM-YYYY")}`);
          $("#move-modal").modal("open");
          $(".move-modal-save").click(function (event) {
          $("#move-modal").modal("close");
          let startdate=dayjs(info.event.start).format("YYYY-MM-DD")+"T10:00:00.000Z"

          eventMoveHandler(info.event.extendedProps.activity,info.event.title,startdate,startdate)
        });
        $(".move-modal-close").click(function (event) {
          info.revert();
          $("#move-modal").modal("close");
        });

        },
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: [
        {{#if activities.length}}
         {{#each activities as |activity|}}

         {
            title: '{{activity.name}}',
            start: '{{activity.date_start}}',
            end: '{{activity.date_end}}',
            extendedProps: {
              activity: '{{activity.id}}'
            }
          },
         {{/each}}
        {{/if}}

        ]
      });

      calendar.render();
    });

  </script>
   
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <h5 id="modal-header"></h5>
        <div id="movie-list">

            </div>
        </div>
        <div class="modal-footer">
            <button class="move-modal-close modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
        </div>
    </div>
    </div>


    <div id="create-modal" class="modal">
        <div class="modal-content">
            <h5 class="create-msg"></h5>
            <hr/>
            <div id="create-details">

            </div> 
        </div>
        <div class="modal-footer">
            <a class="create-modal-close waves-effect waves-green btn">Cancel</a>
            <a class="create-modal-add waves-effect waves-green btn">Add Actvitiy</a>
        </div>
    </div>


    <div id="update-modal" class="modal">
        <div class="modal-content">
            <h5 class="update-msg"></h5>
            <hr/>
            <div id="update-details">

            </div> 
        </div>
        <div class="modal-footer">
            <a class="update-modal-close waves-effect waves-green btn">Cancel</a>
            <a class="update-modal-delete waves-effect waves-green btn">Delete</a>
            <a class="update-modal-update waves-effect waves-green btn">Update</a>
        </div>
    </div>

    <div id="move-modal" class="modal">
        <div class="modal-content">
            <h5 class="move-msg"></h5>
            <hr/>
            <div id="move-details">

            </div> 
        </div>
        <div class="modal-footer">
            <a class="move-modal-close waves-effect waves-green btn">Cancel</a>
            <a class="move-modal-save waves-effect waves-green btn">Save</a>
        </div>
    </div>

<script src='./js/event.js'></script>