<div class='homepage splash' id='home-wrapper'>
  <div>
    <h1>
      FitConnect Pro
      <p>Connecting Fitness, Unleashing Progress</p>
    </h1>
    <div class='buttons'>

      <a href='/login' class='waves-effect waves-light btn-large'>Login</a>

      <a href='/signup' class='waves-effect waves-light btn-large'>Sign Up</a>

    </div>
  </div>
</div>