<!-- Modal Button -->

<div class="jcc">
  <div class="fit-form">
    <h4>Login</h4>
    <div>
      <form class='form log-form'>
        <div>
          <div class='input-field'>
            <input id='email-login' type='email' class='validate' />
            <label for='email-login'>email</label>
          </div>
          <div class='input-field'>
            <input id='password-login' type='text' class='validate' />
            <label for='password-login'>password</label>
          </div>
          <div class='input-field'>
            <button
              type='login'
              class='waves-effect waves-light btn'
            >Login</button>
          </div>
          {{!-- future development to build another page for reset password--}}
          <div class='input-field'>
            <a href='/signup' >Sign Up ? </a>
          </div>
  
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>