<div class="jcc">
    <div class="doug-form">
    <h4>Sign Up</h4>
      <form>
        <div>

          <div class='input-field'>
            <input id='Name' type='text' class='validate' />
            <label for='Name'>Name</label>
          </div>

          <div class='input-field'>
            <input id='Email' type='email' class='validate' />
            <label for='Email'>Email</label>
          </div>

          <div class='input-field'>
            <input id='Username' type='text' class='validate' />
            <label for='Username'>Username</label>
          </div>

          <div class='input-field'>
            <input id='Password' type='password' />
            <label for='Password'>Password</label>
          </div>

          <div class='input-field'>
            <input id='CnfPassword' type='password' class='validate' />
            <label for='CnfPassword'>Confirm Password</label>
          </div>

          <div class='input-field'>
            <button type='submit' class='waves-effect waves-light btn'>Sign Up
            </button>
          </div>

          <div class='input-field'>
            <a href='/login'>Login ? </a>
          </div>

        </div>

      </form>

    </div>

</div>
</div>