/* Default styles */
.fc-scrollgrid-sync-table {
    background-color: #ecebeb47;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#calendar-container {
    text-align: center;
    background-color: #5885AF;
    padding: 20px 0;
    margin: 0 auto;
}

#calendar {
    max-width: 1100px;
    margin: 20px auto;
}

.fc a {
    color: black;
}

div.fc-toolbar-chunk:nth-child(3)>div:nth-child(1) {
    display: none !important;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow sections to wrap on smaller screens */
    justify-content: space-between;
    margin-top: 20px;
}

.section {
    width: 100%;
    /* Make sections full width on small screens */
    margin: 10px;
    /* Add some spacing between sections */
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
}