* {
  box-sizing: border-box !important;
}

:root {
  --text: #333;
}

h4 {
  color: #fff;
}
h3 {
  color: #fff;
}
.navi {
  box-shadow: 0px 0px !important;
  background-color: #333 !important;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  margin: 0;
  background-color: #5885af;
}

/* margin-top: 120px; */
/* example of responsive design
     the element "tries" to be 900px
     but if the screen isn't big enough...
     max 95%
  */
.splash {
  border-bottom: solid 1px var(--border);
  width: 100%;
  height: 100%;
  background-image: url('/images/image1.jpeg');
  background-size: cover;
  min-height: 100%;
  min-width: 10px;

  /* Set up proportionate scaling */
  /* height: auto; */

  /* Set up positioning */
  position: fixed;
}

.splash h1 {
  color: #000000;
  position: absolute;
  right: 25%;
  top: 300px;

  /* 
    use a combination of 
      position:absolute;
      and
      top/left/bottom/right: ___px;
    if you want to move it in terms of its parent

    or use
      transform: translate([x axis], [y axis]);
    if you want to move it relative to its original position

    text-shadow: x y blur color;
  */
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  margin: 2%;
}

.splash h1 span {
  font-style: italic;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  .splash h1 {
    right: 50%;
    transform: translateX(50%);
    font-size: 36px !important;
  }
}

.buttons {
  margin: 10%;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.nav-wrapper {
  background-color: #333;
  box-shadow: none;
}

.findbtn {
  background-color: #333 !important;
}

.findbtn:hover {
  background-color: #ffffff !important;
  color: #333 !important;
}

li a:hover {
  background-color: #ffffff !important;
  color: #333 !important;
}
.input-field a {
  color: #fff !important;
}

.input-field a:hover {
  color: #201e1e !important;
}

.active {
  color: #ffffff !important;
}

.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#form-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcc {
  display: flex;
  justify-content: center;
}

.fit-form {
  width: 650px;
  max-width: 95%;
}

/* @media screen and (max-width: 700px) {
  body {
    background-image: none;
  }
} */
